* {
  margin:0;
  padding:0;
}

body{
  font-family: 'Raleway', sans-serif;
}
/*Splash*/
.title{
  background: #5b0572; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5b0572 0%, #ad1283 64%, #de47ac 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5b0572 0%,#ad1283 64%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5b0572 0%,#ad1283 64%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b0572', endColorstr='#de47ac',GradientType=1 );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 3;
}
.tlogo {
width: 50%;
margin-left: 25%;
margin-top: 20%;
height: 50%;
}
/*Primera Vista*/
.imgtrans{
  background-image: url("../assets/images/paris.png");
  height:99.7vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lt{
  height: 5rem;
  margin: 0 auto;
}
.tl{
  height: 50vh;
  margin: 0 auto;
}
.login,.signup {
  background-color : #ad1283;
  color: white;
  padding: 4vh 6vh;
  border-radius: 10px;
  border-color:whitesmoke;
  margin-bottom: 4%;
}
#btn1{
  position: fixed;
  bottom: -15px;
  left: 15px;
  margin-left: 2%;
}
#btn2{
  position: fixed;
  bottom: -15px;
  right: 15px;
  margin-right: 2%;
}
/*Segunda Vista*/
.back{
  margin-left: 0;
  margin-top: 3%;
}
.backico{
  font-size: 45px;
  cursor:pointer;
  color: #FF00BF;
}
.txtsign{
  text-align: center;
  font-size: 4rem;
  padding-top: 1%;
}
#sutxt{
  text-align: center;
}
.txtjoin{
  text-align: center;
  font-size: 2rem;
}
.flag{
	width: 25px;
	height: 10px;
	margin-right: 5px;
}
.phonein{
  padding-left: 2%;
  padding-right: 0;
}
.inpc{
  padding-left: 0;
  padding-right: 0;
}
.txtsend{
  font-size: 1.8rem;
  padding-top:2%;
  text-align: center;
  margin-top: 3%;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background-color: gray;
  color:#fff;
  width: 280px;
  margin:auto;
  margin-top: 80px;
}
.btn-block{
  margin-top: 10%;
  background-color: #FF00BF;
  color:#fff;
  width: auto;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}
/*Tercera Vista*/
