* {
  margin:0;
  padding:0;
}

body{
  font-family: 'Raleway', sans-serif;
}
/*Splash*/
.title{
 background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 3;
  
}
.wlogo {
width: 50%;
margin-left: 25%;
margin-top: 20%;
height: 50%;
}